In [13]:
import pandas as pd

df = pd.read_csv("Desktop/data6/data4.csv", header=[0, 1])

print(df.columns)

MultiIndex([('Unnamed: 0_level_0', ...),
            ('Unnamed: 1_level_0', ...),
            ('Unnamed: 2_level_0', ...),
            (         '20-Nov-23', ...),
            (         '20-Nov-23', ...),
            (         '20-Nov-23', ...),
            (         '21-Nov-23', ...),
            (         '21-Nov-23', ...),
            (         '21-Nov-23', ...),
            (         '22-Nov-23', ...),
            ...
            (         '28-Mar-24', ...),
            (         '29-Mar-24', ...),
            (         '29-Mar-24', ...),
            (         '29-Mar-24', ...),
            (         '30-Mar-24', ...),
            (         '30-Mar-24', ...),
            (         '30-Mar-24', ...),
            (         '31-Mar-24', ...),
            (         '31-Mar-24', ...),
            (         '31-Mar-24', ...)],
           length=402)

In [14]:
df.columns = ['{}_{}'.format(str(a), str(b)) if a and b else str(a or b)
              for a, b in df.columns]

In [28]:
df.to_csv("Desktop/data6/namechanged.csv", index=False)

In [27]:
df_long.to_csv("Desktop/data6/namechanged.csv", index=False)

In [26]:
print(df_long.columns)

Index(['NHS England Region', 'Code', 'Name', 'Value', 'Date', 'Category'], dtype='object')

In [29]:
print(df.columns)

# Melt the DataFrame to long format
df_long = df.melt(
    id_vars=['NHS England Region', 'Code', 'Name'],  # columns to keep
    var_name='Date_Category',  # name for the combined date-category column
    value_name='Value'         # values from all those columns
)

Index(['NHS England Region', 'Code', 'Name', '20-Nov-23_Total G&A Beds Open',
       '20-Nov-23_Total G&A Beds Unavailable to non-covid admissions "void" ',
       '20-Nov-23_Total G&A beds occ'd', '21-Nov-23_Total G&A Beds Open',
       '21-Nov-23_Total G&A Beds Unavailable to non-covid admissions "void" ',
       '21-Nov-23_Total G&A beds occ'd', '22-Nov-23_Total G&A Beds Open',
       ...
       '28-Mar-24_Total G&A beds occ'd', '29-Mar-24_Total G&A Beds Open',
       '29-Mar-24_Total G&A Beds Unavailable to non-covid admissions "void" ',
       '29-Mar-24_Total G&A beds occ'd', '30-Mar-24_Total G&A Beds Open',
       '30-Mar-24_Total G&A Beds Unavailable to non-covid admissions "void" ',
       '30-Mar-24_Total G&A beds occ'd', '31-Mar-24_Total G&A Beds Open',
       '31-Mar-24_Total G&A Beds Unavailable to non-covid admissions "void" ',
       '31-Mar-24_Total G&A beds occ'd'],
      dtype='object', length=402)

In [30]:
df_long['Date'] = df_long['Date_Category'].str[:9]  # first 9 chars is date e.g. '20-Nov-23'
df_long['Category'] = df_long['Date_Category'].str[10:]  # from 10th char onward is category

# Convert 'Date' to datetime
df_long['Date'] = pd.to_datetime(df_long['Date'], format='%d-%b-%y', errors='coerce')

# Drop the combined column
df_long = df_long.drop(columns=['Date_Category'])

# Rename columns to match your desired names (optional)
df_long = df_long.rename(columns={
    'NHS England Region': 'NHS_England_Region',
    'Value': 'values',
    'Category': 'category'  # fixed spelling
})

# Reorder columns if you want
df_long = df_long[['NHS_England_Region', 'Code', 'Name', 'Date', 'category', 'values']]

print(df_long.head(10))

  NHS_England_Region Code                                               Name  \
0    East of England  RC9        Bedfordshire Hospitals NHS Foundation Trust
1    East of England  RGT  Cambridge University Hospitals NHS Foundation ...
2    East of England  RWH             East and North Hertfordshire NHS Trust
3    East of England  RDE  East Suffolk and North Essex NHS Foundation Trust
4    East of England  RGP  James Paget University Hospitals NHS Foundatio...
5    East of England  RAJ           Mid and South Essex NHS Foundation Trust
6    East of England  RD8  Milton Keynes University Hospital NHS Foundati...
7    East of England  RM1  Norfolk and Norwich University Hospitals NHS F...
8    East of England  RGN             North West Anglia NHS Foundation Trust
9    East of England  RQW          The Princess Alexandra Hospital NHS Trust

        Date             category values
0 2023-11-20  Total G&A Beds Open  1,087
1 2023-11-20  Total G&A Beds Open  1,045
2 2023-11-20  Total G&A Beds Open    582
3 2023-11-20  Total G&A Beds Open  1,233
4 2023-11-20  Total G&A Beds Open    482
5 2023-11-20  Total G&A Beds Open  1,735
6 2023-11-20  Total G&A Beds Open    553
7 2023-11-20  Total G&A Beds Open    974
8 2023-11-20  Total G&A Beds Open    921
9 2023-11-20  Total G&A Beds Open    491

In [32]:
df_long.to_csv("Desktop/data6/long.csv", index=False)